<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ispPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>siscontrol.Empleados</class>
    <class>siscontrol.Factura</class>
    <class>siscontrol.Detalle</class>
    <class>siscontrol.Empresa</class>
    <class>siscontrol.Productos</class>
    <class>siscontrol.Clientes</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <shared-cache-mode>NONE</shared-cache-mode>
    <properties>
      <property name="eclipselink.cache.type.default" value="NONE"/>
      <property name="eclipselink.cache.shared.default" value="false"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/proformas?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value="jcinform@2020"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
