
    .guardar{
        background-image: url('../images/guardar.png') !important;
    }
    .eliminar{
        background-image: url('../images/delete.png') !important;
    }
    .editar{
        background-image: url('../images/editar.png') !important;
    }
    .buscar{
        background-image: url('../images/buscar.gif') !important;
    }
    .nuevo{
        background-image: url('../images/nuevo.png') !important;
    }
    /* estas son las imagenes del menu*/

    .administracion{
        background-image: url('../images/administracion.png') !important;
    }
    .pagos{
        background-image: url('../images/pagos.gif') !important;
    }
    .horarios{
        background-image: url('../images/calendario.gif') !important;
    }

    .notas{
        background-image: url('../images/notas.png') !important;
    }

    .cambiarclave{
        background-image: url('../images/usr.png') !important;
    }


    .salir{
        background-image: url('../images/salir.gif') !important;
    }
    .periodos{
        background-image: url('../images/periodos.png') !important;
    }

    .inicio{
        background-image: url('../images/inicio.png') !important;
    }

    .parametros{
        background-image: url('../images/parametros.png') !important;
    }

    .login{
        background-image: url('../images/login.png') !important;  
       
    }

    .celeste {
        background-image: url('../images/guion_celeste.png') !important;  
       
    }
    .celeste2 {
        background-image: url('../images/guion_celeste2.png') !important;  
    }
    .naranja {
        background-image: url('../images/guion_naranja.png') !important;  
    }
    .naranja2 {
        background-image: url('../images/guion_naranja2.png') !important;  
    }
    .negro {
        background-image: url('../images/guion_negro.png') !important;  
    } 
     .enviar{
        background-image: url('../images/enviar.png') !important;
    }
    .imprimir{
        background-image: url('../images/imprimir.gif') !important;
    }
    .suspender{
        background-image: url('../images/suspender.png') !important;
    }
    .cancelar{
        background-image: url('../images/cancelar.png') !important;
    }
    .anadir{
        background-image: url('../images/anadir.png') !important;
    }
    .quitar{
        background-image: url('../images/quitar.png') !important;
    }

    .texto{
       font-size: 11px;
       font-family: Helvetica;
       font-weight: bold;
       font-stretch: condensed;

   }
    .textonormal{
       font-size: 11px;
       font-family: Helvetica;
       font-stretch: condensed;
       padding: -4px;

   }
   
   .print{
       height: 32px;
       width:  103px;
        background-image: url('../images/print.png') !important;
    }
    
    .uno{
            background-color: #045491;
        }
        .dos{
            background-color: #95CAFF;
        }
        .tres{
            background-color: teal;
        }
        .cuatro{
            background-color: brown;
        }
        .cinco{
            background-color: green;
        }
        .seis{
            background-color: red;
        }
        .siete{
            background-color: orange;
        }
        .ocho{
            background-color: #919396;
        }
        .nueve{
            background-color: blueviolet;
        }
        .diez{
            background-color: orange;
        }

