<?xml version="1.0" encoding="ISO-8859-1"?>
<JCINFORMEMPRESA>
    <PUERTOPRINCIPAL>COM1</PUERTOPRINCIPAL>
    <LED>COM3</LED>
    <BARRA1>COM1</BARRA1>
    <BARRA2>COM1</BARRA2>
    <SALE1>19</SALE1>
    <SALE2>20</SALE2>
    <ENTRADA1>COM3</ENTRADA1>
    <ENTRADA2>COM1</ENTRADA2>
    <ENTRADA3/>
    <ENTRADA4/>
    <ENTRADA5/>
    <ENTRADA6/>
    <ENTRADA7/>
    <SALIDA1>COM3</SALIDA1>
    <SALIDA2/>
    <SALIDA3/>
    <SALIDA4/>
    <SALIDA5/>
    <SALIDA6/>
    <SALIDA7/>
    <PUERTA1>1</PUERTA1>
    <PUERTA2>2</PUERTA2>
    <PUERTA3>3</PUERTA3>
    <PUERTA4>4</PUERTA4>
    <PUERTA5/>
    <PUERTA6/>
    <PUERTA7/>
    <ACTIVA1>true</ACTIVA1>
    <ACTIVA2>true</ACTIVA2>
    <ACTIVA3>false</ACTIVA3>
    <ACTIVA4>false</ACTIVA4>
    <ACTIVA5>false</ACTIVA5>
    <ACTIVA6>false</ACTIVA6>
    <ACTIVA7>false</ACTIVA7>
    <WEBCAM>true</WEBCAM>
    <SEABREFAC>true</SEABREFAC>
    <SEABRETIC>true</SEABRETIC>
</JCINFORMEMPRESA>
