<?xml version="1.0" encoding="ISO-8859-1"?>
<JCINFORMEMPRESA>
    <PUERTOPRINCIPAL>COM3</PUERTOPRINCIPAL>
    <LED>null</LED>
    <BARRA1>COM3</BARRA1>
    <BARRA2/>
    <SALE1>1</SALE1>
    <SALE2>2</SALE2>
    <ENTRADA1>COM3</ENTRADA1>
    <ENTRADA2/>
    <ENTRADA3/>
    <ENTRADA4/>
    <ENTRADA5/>
    <ENTRADA6/>
    <ENTRADA7/>
    <SALIDA1>COM4</SALIDA1>
    <SALIDA2/>
    <SALIDA3/>
    <SALIDA4/>
    <SALIDA5/>
    <SALIDA6/>
    <SALIDA7/>
    <PUERTA1>1</PUERTA1>
    <PUERTA2>2</PUERTA2>
    <PUERTA3>3</PUERTA3>
    <PUERTA4>4</PUERTA4>
    <PUERTA5/>
    <PUERTA6/>
    <PUERTA7/>
    <ACTIVA1>true</ACTIVA1>
    <ACTIVA2>true</ACTIVA2>
    <ACTIVA3>false</ACTIVA3>
    <ACTIVA4>false</ACTIVA4>
    <ACTIVA5>false</ACTIVA5>
    <ACTIVA6>false</ACTIVA6>
    <ACTIVA7>false</ACTIVA7>
    <WEBCAM>true</WEBCAM>
    <SEABREFAC>false</SEABREFAC>
    <SEABRETIC>false</SEABRETIC>
    <MULTA>15.0</MULTA>
    <IPCAM>false</IPCAM>
    <URL>http://192.9.200.105/SnapshotJPEG?Resolution=320x240&amp;Quality=Clarity&amp;Count=712810</URL>
    <ENTRA1>1</ENTRA1>
    <ENTRA2>2</ENTRA2>
    <PUERTATIC>1</PUERTATIC>
    <PUERTAFAC>1</PUERTAFAC>
    <BLOQUEAR>true</BLOQUEAR>
    <BARRERAS>555</BARRERAS>
</JCINFORMEMPRESA>
